env:
  global:
  - secure: NekIxeNqAYg/ugLp577vBp4pzKDiJZ9Re9Ot4ULoqJxYvGE1iY9msceVsTC5dfVkrt69+k4X/iH/rI/SQCR3lwkysW5tJDA5Lw21YkVaxiPOt5SUia1nmw0FDWqXiO1b/zpvC0i1knqd3dzJAOW/zVCEZSzsFKxq9qYnmbXuPNE3H9BGk9oDfRIk9wCQt+2uNS8OaezDeI3WTkTyMktAtXCtv3nzVEP8WvzZtVAhZyrXbSGZh7yZIL8BCfqNVhnS6BT7g1YKPkmwtKZTTpdo9HThk9GA/77wv88aVsAnEPbp6jBqL5kprNBCnmHTndTeZkhRqARv3ia+iE/B9a/hAzzhbH13qXca2IX0HPk3xs/uJ0Rf660GR3RgmvctUak+C1Ux3R4+zPgDPlR3Zi16Y27dgMXOXq1xCpEMRbPCGzVDj0ZbJm2BnHMAHSWVKQY2KT2Xj99TqdWPQtOILy8mQTqipRqQAqxgcgYCGnmuCMcHMS/yPMT/oupMNcw/CaJA9++uqab/nQVkQPE67/kzcQbYxMFlAbZhqmPTrSy8fkWwwZu4x9QIoQuNNYiUIzpvODmnn8NqS/wOZu08HEPb25AqAUnzP6YPW6bxPKmJwxEE2VbQuYfJB54vSQkG3DCgzs2j2xGi8uPW8QqpN7yEI9e7S03P3dEk+XCRqwWiimQ=
  - secure: c4HZbaVU7dODysScv4RUjvOARsQVyLV4+qu0M6XqUpTZYCuNFn7k5MqtIL5uGArxFGb6wzSiCVHtd3+k0LJOHIPPHr9OsjP/fA3Z00FaTZz44NYDQXePCrk4vMUjtmH1vCID7yCYlMONMa4r3zIaURj+xMxJRCVu02H1qqJ6cXhlWMD58QQsRqr1iZtMg0E7tZahkgT1rryNFxEcAHQDSTrgBR6s+VM/PWpm1ruyqvpA2Tagh5ikTFyJnEbDWloPn7vkQIowaCpoSSSejliAfPiHYf3A8RYRPiWZXsn7ZlE+cNqq1nB+j63wiYKDXCQGQXCwFMMEri/Vrm85hwk2Ff+0Asj5dcrqkhTkbvf6nBdwbxa+zPQuZWtmT9y5qxN+SFpAGfWHwjfU4OyVIhlTw0PzQoN5SVPq0GdAMUt0mKe5G+5zXR1Qo5DqIMgpTC0+mg1fqR/haPL7zr9YHRKRtZIcuHkj5rLq8fHhIdBVhicbzkv8LvanHv1g2zP2mC64O/iEyP/I/BVsDvKXQIalaDHJsJ/5YkLFYlDjJoiVin3N7XS1nWmt9u2FvjJzRnB0f3Hx7njgbrQIfW5jlmlWj+h2LyzBRtM4I0tzHPln6JqKQsCtz/BGZvh6avU2qjVw89BYhn+p/q8n4KoisUrtSizzO2Mv/1HhMOsDPTi93tI=

services:
- docker

addons:
  sonarcloud:
    organization: departement-loire-atlantiqu-1
    token:
      secure: aAmNI1MCCAMEJSQG0w9rLaVbQTXFR7H36pcC7XjjBKaVjUaKy1L8gmcg7OfBxs1G5/kKNNqVmCwXw7D8jcm98XtGA7QUeSO3/KAanh2kbFeoec1ZsIGr30MrDEIfOLuXnNF1nGZcx7lV48DcgX+3yB9OBS/4H4PvNH1IqFyVD4oQHJL6kADdyKQi+84vJmYBEbLGnu8e/LoUSBm2EuXY3uViehHfl6HqUDhBBco90PPc7kAGmNDfjPkBhuOzK+9Rz1DA5UDyBhITK1UChWp9rCununaaAhHGaaDTQujDnI5d/Kj70kSIPH5izksRbr8IfGxwKnSFQR29yfOsOwrZx0ntPQaAIMddJmYDCYDd694RWGesDcLZoyQkbtqAaCkFic4pvTf+pHcN4vA7L45aHQpWU2naQSa/7VbqFWq4mL3wgBAsqD/l0xt02CIn/cn9pUQB1NVTFLPlwO+P22Q/RH+mijmStm8VZ9pAQWEOhHs26OcH4ATVGYvVHZ4CHcWnyF69u9eo1V6c+2haYYAO6FLbV1bRAH1sT6MfF+0qKUFP7VU8odbj11aneKcAJZFdgZS/LXL0LAjmVftjEtoMQks1RpIZuIse+PbYbaEdYxf37c+P53qOch9g/Ib/ROYHCmQQ/wxWJdLhmsEz3CI0Hn0tsNz+U7rspzb4MEM2j+4=

before_script:
- echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
- docker pull julienbayle/jplatformbuild

script:
- docker run -v ${TRAVIS_BUILD_DIR}:/root/source --name buildimage -t julienbayle/jplatformbuild
- docker cp buildimage:/root/dist .
- export CODE_VERSION=`git describe`
- sonar-scanner -Dsonar.projectVersion=$CODE_VERSION

deploy:
  provider: releases
  api_key:
    secure: RI0NnOy7tKitJFQS8eiH/IQ9KrIMckUUSRLNbvX0DAyTzEJ6Och5knCASJL1qgP8/SxosEFoHg1/VpRVUateMRKMIIlNwiMwj8NpkHmwV9Z0QwRoRKvzMee65+wLz6W9Jo9RNs35jbUe3V9pZemquRAxPUqBVit5b/sPOF9rCTgY13CaJJJKUVwSuD28A5nkmjEKM2MW48mjP5IRZjooRWeM7prOv8HZ/j5Z81pwP51L25FzpI4SXyMnjhhhqo13EohT4ZfZxPu1Y9EbG1j807OtdbNueyfG4sEIxgBUTpkyxZZ+hr1CDTD92D+eAvkV7UmcNvZL3v+Ot3cd9ErX7Epu6QB9s5IqJkZEuwltsHEZ3tgG3YmeqBgVFfROd1C8T4QaJLH1XCd2+aFMrZ7XD4j6wJMEgOihmJws9l3ljrguGSaPCFW6KKcvgS0Urq0Jy0LQBZ1XpsOdN60t8JHOebGtMgk2o/dXzOTbwquzQ7iDB5MwbkPRSaJv61elorqD5jEm46cksIW1VI9xcgYHMRej1Mcq8bs7rXpRxGU/Ak9lZ0Zk7xJEtMuYp7yq3vqdvXQuSmz0iC98xY7NWPEWo3XJoaO1i7WyCIDN1QHAdx8KbK9VlANDo0i58QNfmzrbAn92eN16ithru7ld2krr57FT3i7z4W8Q4tvwvmJKANw=
  file_glob: true
  file: "${TRAVIS_BUILD_DIR}/dist/*.zip"
  skip_cleanup: true
  on:
    tags: true
